<header >
    <div class="m-auto mt-2 flex md:mx-60">
        <img
            src="/logo_mega_herreria.webp"
            class="h-16 w-16 md:ml-20 rounded-full"
            alt=""
        />
        <nav
            class="flex gap-32 text-gray-900 font-semibold h-full w-full m-auto items-center justify-center"
        >
            <a href="#" class="text-xl hover:text-[#ffb703]">Inicio</a>
            <a href="#nosotros" class="text-xl hover:text-[#ffb703]">Nosotros</a>
            <a href="#" class="text-xl hover:text-[#ffb703]">Contacto</a>
        </nav>
    </div>
</header>
